<template>
<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="163.342mm" height="38.9055mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 18131.83 4318.73"
 xmlns:xlink="http://www.w3.org/1999/xlink">
  <Lines/>
  <LogoTextTa/>
  <LogoTextNa/>
  <LogoTextNaNote/>
</svg>
</template>

<style>
.fill-none {
  fill:none;
}
.fill-grey {
  fill: var(--color-grey);
}
</style>

<script>
import Lines from './Lines'
import LogoTextTa from './LogoTextTa'
import LogoTextNa from './LogoTextNa'
import LogoTextNaNote from './LogoTextNaNote'

export default {
  name: 'FullLogo',
  components: {
    Lines,
    LogoTextTa,
    LogoTextNa,
    LogoTextNaNote
  }
}
</script>
