<template>
  <g class="tanana-lines">
    <line class="fill-none stroke yellow-stroke" x1="65.67" y1="1227.23" x2="18131.83" y2= "1227.23" />
    <line class="fill-none stroke red-stroke" x1="-0" y1="2004.26" x2="18131.83" y2= "2004.26" />
    <line class="fill-none stroke purple-stroke" x1="-0" y1="2670.29" x2="18131.83" y2= "2670.29" />
    <line class="fill-none stroke green-stroke" x1="-0" y1="3447.32" x2="18131.83" y2= "3447.32" />
    <line class="fill-none stroke blue-stroke" x1="-0" y1="4268.78" x2="18131.83" y2= "4268.78" />
    </g>
</template>

<style scoped>
.stroke {
  stroke-width:99.91;
  stroke-miterlimit:22.9256;
}
.green-stroke {
  stroke:var(--color-green);
}
.blue-stroke {
  stroke:var(--color-blue);
}
.purple-stroke {
  stroke:var(--color-purple);
}
.red-stroke {
  stroke:var(--color-red);
}
.yellow-stroke {
  stroke:var(--color-yellow);
}
</style>
