<template>
  <g class="tanana-note">
    <path class="fill-grey" d="M15746.13 2854.62l0 -1864.43c0,0 4.73,-34.27 4.73,-34.23 -218.86,148.66 -486.87,29.54 -682.02,-94.78 -154.95,-98.71 -423.16,-414.44 -625.31,-379.61 -189.75,32.67 -280.8,285.99 -319.7,433.95 -49.85,189.69 -34.43,391.76 44.76,572.82 18.08,41.29 36.3,87.08 60.38,125.65 28.81,46.16 66.7,91.81 58.88,149.19 -3.73,27.14 -15.22,47.09 -43.03,30.84 -21.51,-12.59 -39.9,-30.17 -56.65,-47.65 -78.29,-81.72 -133.44,-184.03 -182.73,-282.36 -1.43,-2.83 -2.83,-5.69 -4.26,-8.56 -9.39,-16.18 -17.22,-31.97 -22.41,-46.82 -104.5,-298.45 -59.58,-641.52 87.38,-921.36 188.92,-359.69 528.46,-594.63 957.46,-396.26 104.83,48.49 204.87,108.76 295.52,177.3 61.71,46.66 146.23,72.53 225.45,80.72 14.12,1.47 27.91,1.96 41.39,1.63 39.33,-14.42 71.77,-33.53 90.81,-74.16 13.25,-28.27 12.22,-55.05 16.85,-84.32 3.9,-24.58 5.56,-49.35 7.26,-74.13 1.4,-20.35 5.1,-47.82 5.1,-47.82 0,0 18.78,-70.23 150.59,-70.23 131.41,0 148.13,76.16 148.06,77.03l0 2889.99 -258.52 -112.39zm0 0l0 0 0 0z"/>
    <ellipse class="fill-grey" cx="14976.1" cy="3140.38" rx="832.54" ry="985.16"/>
  </g>
</template>
