<template>
  <div class="header">
    <h1>
      <FullLogo class="title-logo"/>
      <!-- <img src="@/assets/logo.svg" alt="tananã" class="title-logo"> -->
      <span class="upper-text">web</span>
    </h1>
    <p>O Tananã é um software de aprendizagem de música. Feito para aqueles já tem algum conhecimento sobre música, mas desejam uma interface mais amigável (e gratuita) para treinar a leitura de partituras.</p>
    <p>O(a) estudante pode inserir um arquivo de partitura, em formato XML, da sua escolha - ou usar alguns de <a href="https://tanana.xyz/downloads/">nossos exemplos</a> disponíveis para download - para começar o seu treino.</p>
    <p>Ao inserir o arquivo, a partitura será exibida dentro de alguns instantes. O play/pause pode ser feito usando a tecla de espaço ou os botões disponíveis na tela.</p>
  </div>
</template>

<script>
import FullLogo from './logo/FullLogo'

export default {
  name: 'Header',
  components: {
    FullLogo
  }
}
</script>

<style scoped>
  h1 {
    --logo-height: 2em;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: var(--logo-height);
    margin: 0.5em auto;
  }
  .title-logo {
    height: var(--logo-height);
    width: calc(4 * var(--logo-height));
  }
  .upper-text {
    margin-top: calc(0.1 * var(--logo-height));
  }
  p {
    margin: 0 auto 1em;
    max-width: 800px;
  }
  .header {
    margin-bottom: 2em;
  }
</style>
