<template>
  <div>
    <FullLogo ref="svg"/>
  </div>
</template>

<script>
import FullLogo from './logo/FullLogo'
import sleep from '@/service/sleep'
// not using vue effects because I couldn't make them work with svg
import { fadeIn, fadeOut } from '@/service/fade'

const BEAT_DURATION = 200

export default {
  name: 'Loader',
  components: {
    FullLogo
  },
  data () {
    return {
      interval: 0,
      firstText: null,
      secondText: null,
      lastText: null
    }
  },
  methods: {
    hideTexts () {
      return Promise.all([
        this.firstText,
        this.secondText,
        this.lastText
      ].map(el => fadeOut(el, BEAT_DURATION)))
    },
    async cycleAnimation () {
      await fadeIn(this.firstText, BEAT_DURATION)
      await fadeIn(this.secondText, BEAT_DURATION)
      await fadeIn(this.lastText, 2 * BEAT_DURATION)
      await sleep(BEAT_DURATION / 2)
      await this.hideTexts()
    }
  },
  mounted () {
    this.firstText = this.$refs.svg.$el.querySelector('.tanana-text-ta')
    this.secondText = this.$refs.svg.$el.querySelector('.tanana-text-na-1')
    this.lastText = this.$refs.svg.$el.querySelector('.tanana-text-na-2')
    this.interval = setInterval(this.cycleAnimation, 6 * BEAT_DURATION)
  },
  destroyed () {
    clearInterval(this.interval)
  }
}
</script>

<style scoped>
  /* TODO: use svg params or even vue transitions */
  /deep/ .tanana-text-ta,
  /deep/ .tanana-text-na-1,
  /deep/ .tanana-text-na-2 {
    opacity: 0;
  }
</style>
